<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:background-color="http://java.sun.com/JSP/Page">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
</head>
<link rel="stylesheet" href="style.css">
<body >

<form th:method="PATCH" th:action="@{/people/{id}(id=${person.getId()})}" th:object="${person}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <label for="age">Enter age: </label>
    <input type="text" th:field="*{age}" id="age"/>
    <br/>
    <label for="sex">Sex:</label>
    <!--  <input type="text" th:field="*{sex}" id="sex"/>-->
    <a for="sex" class="custom-select" style="width:200px;">
        <select type="text" th:field="*{sex}" id="sex">
            <option value="0">Select</option>
            <option value="1">Male</option>
            <option value="2">Female</option>
        </select>
    </a>

    <br/>
    <label for="email">Enter email: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <br/>
    <label for="phoneNumber">Enter telephone number: </label>
    <input type="text" th:field="*{phoneNumber}" id="phoneNumber"/>
    <br/>
    <label for="bloodType">Enter blood type: </label>
    <!--  <input type="text" th:field="*{bloodType}" id="bloodType"/>-->
    <a for="bloodType" class="custom-select" style="width:200px;">
        <select type="text" th:field="*{bloodType}" id="bloodType">
            <option value="0">Select:</option>
            <option value="1">1(O)</option>
            <option value="2">2(A)</option>
            <option value="3">3(B)</option>
            <option value="4">4(AB)</option>
        </select>
    </a>
    <br/>

    <label for="RhD">Enter RhD: </label>
    <!--  <input type="text" th:field="*{RhD}" id="RhD"/>-->
    <a for="RhD" class="custom-select" style="width:200px;">
        <select type="text" th:field="*{RhD}" id="RhD">
            <option value="0">Select:</option>
            <option value="1">+</option>
            <option value="2">-</option>

        </select>
    </a>



    <br/>
    <label for="date">Enter today date: </label>
    <input type="text" th:field="*{date}" id="date"/>
    <br/>
    <label for="volume">Enter volume of blood: </label>
    <input type="text" th:field="*{volume}" id="volume"/>

    <br/>
    <input type="submit" value="Update!"/>
    <br/>
    <a th:href="@{/people/{id}(id=${person.getId()})}">Back</a>
</form>
</body>
</html>