<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body style="background-color: #FFF9F9;">
<p th:text="${person.getName()}">VALUE</p>
<p th:text="${person.getAge()} + ' y.o.'">VALUE</p>
<p th:text="'bloodtype: '+ ${person.getBloodType()} + ${person.getRhD()}">VALUE</p>
<p th:text="'email: '+ ${person.getEmail()}">VALUE</p>
<p th:text="'phone: '+ ${person.getPhoneNumber()}">VALUE</p>
<p th:text="'date of last blood donation: '+ ${person.getDate()}">VALUE</p>
<a href="/people">Back</a>
<p>
    <a th:href="@{/people/{id}/edit(id=${person.getId()})}">Edit</a>
</p>
<p>
    <form  th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Delete">
</form>
</p>
</body>
</html>